html,
body {
  width: 100%;
  height: 100%;
}
#heading {
  position: relative;
  top: 0px;
  height: 40px;
  width: 90%;
  margin: 10px 20px 0px;
  border-bottom: none;
}
#heading svg {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
}
#chooseClusterNumber {
  top: -3px;
  margin: 2px 16px;
}
.headingText {
  display: inline-block;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: Helvetica Arial sans-serif;
}
#chooseStatus {
  position: absolute;
  top: 5px;
  left: 500px;
}
#container-main {
  position: relative;
  height: 90%;
  width: 90%;
  padding: 0px;
  margin: 0px 20px;
}
#odView {
  height: 30%;
  width: 68%;
  right: 0px;
  margin: 0px;
  position: absolute;
  border-top: none;
  border-right: none;
}
#odView svg {
  float: top;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}
#odView canvas {
  z-index: 2
        position:absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}
#map {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  height: 70%;
  width: 68%;
  margin: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
}
#suspendingDiv {
  position: absolute;
  top: -400px;
  right: 0px;
  height: 200px;
  width: 200px;
  z-index: 5000;
  border-radius: 50%;
}
#suspendingDiv svg {
  width: 100%;
  height: 100%;
}
.hex-border {
  stroke: #D4D4D4;
  opacity: 0.6;
}
.hex-border:hover {
  opacity: 1;
}
#fluxNet {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32%;
  height: 50%;
  border-right: none;
  border-left: none;
  border-top: none;
}
#fluxNet svg {
  width: 100%;
  height: 100%;
}
#pieDiv {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 32%;
  height: 50%;
  border-right: none;
  border-left: none;
  border-bottom: none;
  margin-bottom: 0px;
}
#pieDiv svg {
  width: 100%;
  height: 100%;
}
