#container-main {
  position: relative;
  height: 850px;
  width: 1500px;
  padding: 0px;
  margin: 10px 20px;
}
#map {
  border-top: none;
  border-bottom: none;
  border-left: none;
  height: 100%;
  width: 68%;
  margin: 0px;
  right: 0px;
  position: absolute;
}
#suspendingDiv {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 200px;
  width: 200px;
  z-index: 5000;
}
#suspendingDiv svg {
  width: 100%;
  height: 100%;
}
.hex-border {
  stroke: #D4D4D4;
  opacity: 0.6;
}
.hex-border:hover {
  opacity: 1;
}
#fluxNet {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32%;
  height: 50%;
  border-right: none;
  border-left: none;
  border-top: none;
}
#fluxNet svg {
  width: 100%;
  height: 100%;
}
#pieDiv {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 32%;
  height: 50%;
  border-right: none;
  border-left: none;
  border-bottom: none;
  margin-bottom: 0px;
}
#pieDiv svg {
  width: 100%;
  height: 100%;
}
