<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="stylesheets/leaflet.css" rel="stylesheet" />
    <link href='stylesheets/mapbox-gl.css' rel='stylesheet' />
    <link href="js/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="js/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap-combobox.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/jquery-ui.min.css" rel="stylesheet">
    <link href="js/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <link href="css/leaflet.pm.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-switch.min.css" rel="stylesheet">
    <title>Handlebars View App</title>
    <script src="js/d3.v3.min.js"></script>
    <script src='js/csv.js'></script>
    <script src="js/d3.v4.min.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <script src="js/L.PixiOverlay.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/d3-color.v1.min.js"></script>
    <script src="js/d3-interpolate.v1.min.js"></script>
    <script src="js/d3-scale-chromatic.v1.min.js"></script>
    <script src="js/d3-tip.js"></script>
    <script src="js/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>
    <script src="js/L.D3SvgOverlay.min.js"></script>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>