@screen-width:90%;
@screen-height:90%;
@screen-margin:10px;
@mapWidth:68%;
@fluxNetHeight:50%;
@hexBorderStroke:#D4D4D4;
@mapHeight:70%;
@headingHeight:40px;
html,body{
    width:100%;
    height: 100%;
}
.svgPosition{
    position: absolute;
    left:0px;
    top:0px;
}
#heading{
    position: relative;
    top:0px;
    height:@headingHeight;
    width:@screen-width;
    margin:@screen-margin @screen-margin+10px 0px;
    border-bottom:none;
    svg{
        position: absolute;
        right:0px;
        width:50%;
        height:100%;
    }
}
#chooseClusterNumber{
    top:-3px;
    margin:2px 16px;
}
.headingText{
    display: inline-block;
    margin:@headingHeight/4;
    font-size:15px;
    font-weight:bold;
    font-family:Helvetica Arial sans-serif;
}
.titleText{
    font-family:Helvetica Arial sans-serif;
    font-size:15px;
    margin-left:7px;
    font-weight: bold;
}
#chooseStatus{
    position: absolute;
    top:5px;
    left:500px;
}
#container-main{
    position: relative;
    height:@screen-height;
    width:@screen-width;
    padding:0px;
    margin: 0px @screen-margin+10px;

}

#odView{
    height:100%-@mapHeight;
    width:@mapWidth;
    right:0px;
    margin:0px;
    position:absolute;
    border-top:none;
    border-right:none;
    svg{
       .svgPosition;
        height:100%;
        width:100%;
    }
    canvas{
        z-index:2;
        .svgPosition;
        height:100%;
        width:100%;
    }
}
#map{
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    height:@mapHeight;
    width:@mapWidth;
    margin:0px;
    right:0px;
    bottom:0px;
    position: absolute;
}


#suspendingDiv{
    position: absolute;
    top:-400px;
    right:0px;
    height:200px;
    width:200px;
    z-index:5000;
    border-radius: 50%;
    svg{
        width:100%;
        height:100%;
    }
}


.hex-border{
    stroke:@hexBorderStroke;
    opacity: 0.6;
    &:hover{
        opacity: 1;
    }
}

#fluxNet{
    position: absolute;
    top:0px;
    left:0px;
    width:100%-@mapWidth;
    height:@fluxNetHeight;
    border-right:none;
    border-left:none;
    border-top:none;
    svg{
        .svgPosition;
        width:100%;
        height:100%;
    }
}

#pieDiv{
    position: absolute;
    bottom:0px;
    left:0px;
    width:100%-@mapWidth;
    height:100% - @fluxNetHeight;
    border-right:none;
    border-left:none;
    border-bottom:none;
    margin-bottom: 0px;
    svg{
       .svgPosition;
        width:100%;
        height:100%;
    }
}
