<div id='container-main' class="panel panel-default">

    <div id='fluxNet' class='panel panel-default'>
        <svg id='netSvg'> </svg>
    </div>
    <div id='pieDiv' class='panel panel-default'>
        <svg id='pieSvg'> </svg>
    </div>
    <div id='odView' class='panel panel-default'>
        <canvas id='odCanvas'>
        </canvas>
    </div>
    <div id='map' class='panel panel-default'>
    </div>
    <div id='suspendingDiv' class='panel panel-default'>
        <svg id='suspendingSvg'>
        </svg>
    </div>
</div>