<div id='container-main' class="panel panel-default">
    <div id='map' class='panel panel-default'>
    </div>
    <div id='fluxNet' class='panel panel-default'>
        <svg id='netSvg'> </svg>
    </div>
</div>