    <div id='main' class="container-fluid">
        <div class="col-md-9 panel panel-default" id='map'>
            <div class="panel panel-default" id='tipDiv'>
            </div>
        </div>
        <div class="col-md-2 panel panel-default" id='controlPanel'>
            <div class="btn-group" id='loadDataButtonGroup'>
            </div>
            <div id='ThrPanel'>
            </div>
            <div class="panel panel-default" id='radarChart'>
            </div>
            <div class="panel panel-default" id='matrixView'>
                <svg id='matrixSvg'></svg>
            </div>
        </div>
    </div>